
<section class="wrapper">
  <div class= "background"style="background-image: url('/images/cinema.jpg');">
    <h1 class="tittle-index">Cinema Ironhack</h1>

    <button class="btn-index btn-light"> <a href="/movies" class="font-weight-bold">Check the movies!</a>
    </button>
  </div>

</section>

